$cyan050: #00C7FF;
$cyan100: #00C2FC;
$cyan200: #00BDF9;
$cyan300: #00B7F5;
$cyan400: #00B2F2;
$cyan500: #00ADEF;
$cyan600: #1BA3E3;
$cyan700: #198DD1;
$cyan800: #177AC0;
$cyan900: #1761AC;

$magenta050: #FF00FF;
$magenta100: #FB00E8;
$magenta200: #F700D1;
$magenta300: #F400B9;
$magenta400: #F000A2;
$magenta500: #EC008B;
$magenta600: #D9178A;
$magenta700: #B81787;
$magenta800: #991884;
$magenta900: #751B81;

$indigo050: #1B27F5;
$indigo100: #1B26DD;
$indigo200: #1A25C5;
$indigo300: #1A24AD;
$indigo400: #192395;
$indigo500: #19227D;
$indigo600: #181779;
$indigo700: #13146D;
$indigo800: #0F1061;
$indigo900: #0C0E55;

$gray050: #FAFEFF;
$gray100: #F1F8FE;
$gray200: #E0E8ED;
$gray300: #C0C9D0;
$gray400: #A0ABB3;
$gray500: #808C96;
$gray600: #606D79;
$gray700: #404E5C;
$gray800: #20303F;
$gray900: #001122;