@use "color";
@use "type";
@use "icon";

.details-section {
	background: color.$gray100;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 8px 8px 12px 0 rgba(color.$gray300, 0.25),
	-8px -8px 12px 0 rgba(color.$gray050, 0.5);

	.subheading {
		color: color.$gray600;
	}
}

.details {
	background: color.$gray200;
	padding: 1rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	overflow-y: auto;

	& > header {
		position: sticky;
		top: 0;
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: 1fr 4fr;
		align-items: center;
		gap: 1rem;
		background-color: color.$gray500;
		padding: 1rem;
		overflow: visible;
		border-radius: 2px;
		box-shadow: 0 2px 4px rgba(color.$gray900, 0.2), 0 -1rem 0.5rem 1rem color.$gray200;

		img {
			grid-column: 1 / 2;
			max-width: 100%;
			border: solid 2px color.$cyan500;
			border-radius: 50%;
		}

		.patient-name {
			grid-column: 2 / -1;
			.heading {
				color: color.$gray100;
			}
			.copy {
				color: color.$gray300;
			}
		}
	}

	dl {
		grid-column: 1 / -1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		gap: 1rem;
	}

	dt {
		@extend .caption;
		color: color.$gray300;
	}

	dd {
		@extend .copy;
		margin: 0;
		color: color.$gray200;
	}


}

#faq {
	margin-top: -1px;
}

details {
	padding: 1rem 0;
	box-sizing: border-box;
	transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);

	summary {
		@extend .subheading;
		outline: none;
		padding: 0;
		list-style: none;

		@media (hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
	}
}


