.icon {
	direction: ltr;
	font-family: 'Material Symbols Outlined', 'Material Icons';
	font-style: normal;
	font-weight: normal;
	font-variation-settings: 'FILL' 1, 'wght' 700;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	margin-top: -0.625em;
}